a,
button {
  display: block;
}

.box {
  width: 100px;
  height: 100px;
  background: red;
}

.red {
  background: red;
}

.green {
  width: 105px;
  height: 105px;
  background: green;
  transform: 0.5;
}
